@import "tailwindcss";

@theme {
  --color-light-primary-100: #bfe3e8;
  --color-light-primary-200: #8cd9e3;
  --color-light-primary-300: #5ccfde;
  --color-light-primary-400: #29bdd4;
  --color-light-primary-500: #08a6bf;
  --color-light-primary-600: #058fa6;
  --color-light-primary-700: #005461;
  --color-light-primary-800: #053b42;
  --color-light-primary-900: #0a262b;
  --color-light-gray-000: #ffffff;
  --color-light-gray-100: #e6edf5;
  --color-light-gray-200: #c9d6e0;
  --color-light-gray-300: #bdccd9;
  --color-light-gray-400: #a8bacc;
  --color-light-gray-500: #8a9eb3;
  --color-light-gray-600: #6b7d8f;
  --color-light-gray-700: #59697a;
  --color-light-gray-800: #424d59;
  --color-light-gray-900: #2e363b;
  --color-dark-primary-100: #0a262b;
  --color-dark-primary-200: #053b42;
  --color-dark-primary-300: #005461;
  --color-dark-primary-400: #058fa6;
  --color-dark-primary-500: #08a6bf;
  --color-dark-primary-600: #29bdd4;
  --color-dark-primary-700: #5ccfde;
  --color-dark-primary-800: #8cd9e3;
  --color-dark-primary-900: #bfe3e8;
  --color-dark-gray-000: #17171c;
  --color-dark-gray-100: #262629;
  --color-dark-gray-200: #33363b;
  --color-dark-gray-300: #3d4247;
  --color-dark-gray-400: #4d5257;
  --color-dark-gray-500: #5c636e;
  --color-dark-gray-600: #787d87;
  --color-dark-gray-700: #8c94a1;
  --color-dark-gray-800: #adb8c4;
  --color-dark-gray-900: #e8e8e8;
  --color-green-100: #8afcbd;
  --color-green-200: #45e88c;
  --color-green-300: #29e67d;
  --color-green-400: #12db6b;
  --color-green-500: #03c759;
  --color-green-600: #03b552;
  --color-green-700: #059c47;
  --color-green-800: #007d38;
  --color-green-900: #035224;
  --color-blue-100: #cfe3ff;
  --color-blue-200: #9ec4ff;
  --color-blue-300: #6ea8ff;
  --color-blue-400: #3d8cfc;
  --color-blue-500: #0d6efc;
  --color-blue-600: #0a59c9;
  --color-blue-700: #084299;
  --color-blue-800: #052b66;
  --color-blue-900: #031733;
  --color-indigo-100: #e0cffc;
  --color-indigo-200: #c29efa;
  --color-indigo-300: #a370f7;
  --color-indigo-400: #8540f5;
  --color-indigo-500: #660ff2;
  --color-indigo-600: #520dc2;
  --color-indigo-700: #3d0a91;
  --color-indigo-800: #290561;
  --color-indigo-900: #140330;
  --color-red-100: #ffe3e6;
  --color-red-200: #f2adb5;
  --color-red-300: #eb878f;
  --color-red-400: #e35c6b;
  --color-red-500: #db3645;
  --color-red-600: #b02938;
  --color-red-700: #852129;
  --color-red-800: #59141c;
  --color-red-900: #2b0a0d;
  --color-bg-primary-level1: #NaNNaNNaN;
  --color-bg-primary-level1-hover: #NaNNaNNaN;
  --color-bg-neutral-level1: #NaNNaNNaN;
  --color-bg-neutral-level1-hover: #NaNNaNNaN;
  --color-bg-neutral-level2: #NaNNaNNaN;
  --color-border-primary-level1: #NaNNaNNaN;
  --color-border-neutral-level1: #NaNNaNNaN;
  --color-border-status-negative: #NaNNaNNaN;
  --color-border-status-positive: #NaNNaNNaN;
  --color-border-status-information: #NaNNaNNaN;
  --color-border-neutral-level1-hover: #NaNNaNNaN;
  --color-border-neutral-level2: #NaNNaNNaN;
  --color-border-neutral-disabled: #NaNNaNNaN;
  --color-border-neutral-active: #NaNNaNNaN;
  --color-bg-neutral-surface: #NaNNaNNaN;
  --color-bg-neutral-surface-hover: #NaNNaNNaN;
  --color-bg-neutral-base: #NaNNaNNaN;
  --color-bg-neutral-base-hover: #NaNNaNNaN;
  --color-bg-neutral-disabled-checked: #NaNNaNNaN;
  --color-bg-status-negative: #NaNNaNNaN;
  --color-bg-status-positive: #NaNNaNNaN;
  --color-bg-status-information: #NaNNaNNaN;
  --color-icon-primary-level1: #NaNNaNNaN;
  --color-icon-neutral-level1: #NaNNaNNaN;
  --color-icon-status-negative: #NaNNaNNaN;
  --color-icon-status-positive: #NaNNaNNaN;
  --color-icon-status-information: #NaNNaNNaN;
  --color-icon-neutral-level2: #NaNNaNNaN;
  --color-icon-neutral-white: #NaNNaNNaN;
  --color-icon-neutral-inverse: #NaNNaNNaN;
  --color-icon-neutral-disabled: #NaNNaNNaN;
  --color-text-primary-base: #NaNNaNNaN;
  --color-text-neutral-base: #NaNNaNNaN;
  --color-text-neutral-description: #NaNNaNNaN;
  --color-text-neutral-disabled: #NaNNaNNaN;
  --color-text-neutral-inverse: #NaNNaNNaN;
  --color-text-neutral-white: #NaNNaNNaN;
  --color-text-status-negative: #NaNNaNNaN;
  --color-text-status-positive: #NaNNaNNaN;
  --color-text-status-information: #NaNNaNNaN;
  --color-btn-bg-primary-base: #NaNNaNNaN;
  --color-btn-bg-primary-hover: #NaNNaNNaN;
  --color-btn-border-primary: #NaNNaNNaN;
  --color-btn-border-normal: #NaNNaNNaN;
  --color-btn-bg-normal-base: #NaNNaNNaN;
  --color-btn-bg-normal-hover: #NaNNaNNaN;
  --color-btn-bg-error-base: #NaNNaNNaN;
  --color-btn-bg-error-hover: #NaNNaNNaN;
  --color-btn-text-primary: #NaNNaNNaN;
  --color-btn-text-normal: #NaNNaNNaN;
  --color-btn-text-disabled: #NaNNaNNaN;
  --color-btn-text-error: #NaNNaNNaN;
  --color-btn-text-inverse: #NaNNaNNaN;
  --color-btn-text-white: #NaNNaNNaN;
  --color-input-bg-base: #NaNNaNNaN;
  --color-input-bg-disabled: #NaNNaNNaN;
  --color-input-border-base: #NaNNaNNaN;
  --color-input-border-hover: #NaNNaNNaN;
  --color-input-border-active: #NaNNaNNaN;
  --color-input-border-error: #NaNNaNNaN;
  --color-input-text-normal: #NaNNaNNaN;
  --color-input-text-disabled: #NaNNaNNaN;
  --color-input-text-error: #NaNNaNNaN;
  --color-control-bg-primary: #NaNNaNNaN;
  --color-control-bg-normal: #NaNNaNNaN;
  --color-control-bg-disabled: #NaNNaNNaN;
  --color-control-bg-disabled-checked: #NaNNaNNaN;
  --color-control-border-primary: #NaNNaNNaN;
  --color-control-border-level1: #NaNNaNNaN;
  --color-control-border-level1-hover: #NaNNaNNaN;
  --color-control-border-disabled: #NaNNaNNaN;
  --color-control-text-normal: #NaNNaNNaN;
  --color-control-text-disabled: #NaNNaNNaN;
  --color-input-icon-normal: #NaNNaNNaN;
  --color-input-icon-disabled: #NaNNaNNaN;
  --color-control-icon-primary: #NaNNaNNaN;
  --color-control-icon-normal: #NaNNaNNaN;
  --color-control-icon-white: #NaNNaNNaN;
  --color-control-icon-inverse: #NaNNaNNaN;
  --color-control-icon-disabled: #NaNNaNNaN;
  --color-toggle-bg-primary: #NaNNaNNaN;
  --color-toggle-bg-normal: #NaNNaNNaN;
  --color-toggle-bg-disabled: #NaNNaNNaN;
  --color-toggle-bg-disabled-checked: #NaNNaNNaN;
  --color-toggle-text-normal: #NaNNaNNaN;
  --color-toggle-text-disabled: #NaNNaNNaN;
  --color-toggle-icon-inverse: #NaNNaNNaN;
  --color-toggle-icon-white: #NaNNaNNaN;
}
